@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.change{
  font-family: 'Marck Script';
}

.SwipeContainer {
  width: 100vw;
  height: 50vh;
  border:2px solid red;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 'red';
}

.container{
  position: absolute;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    top: -45vh;
  
}