@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.change{
  font-family: 'Marck Script';
}

.SwipeContainer {
  width: 100vw;
  height: 50vh;
  border:2px solid red;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 'red';
}

.container{
  position: absolute;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    top: -45vh;
  
}

.heading:hover{
  animation: rubberBand 1s linear 1;
}

.heading{
  font-family: Roboto Mono;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.line{
width:20px;
border: 2px solid red;
background-color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,155,1) 12%, rgba(226,223,238,1) 64%, rgba(139,58,243,1) 100%);
height:150px;
}